.display1{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	padding: 10px;
	background-color: brown;
	flex-direction: row;
	justify-content: space-around;

}
.mycard{
	width: 220px;
	background-color : pink;
	padding: 10px;
	border : 2px solid black;

}



img{
	height: 200px;
	width: 200px;
}
.text{

}