@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');


#deall{
	
	height: 38vw;
	top: -148px;
	position: relative;
}

.imageflex00{
	display: flex;
	flex-direction: row;
	width: 80%;
	position: absolute;
	left : 20%;
	height : 36vw;
	
}
#deall .row{
	height : 14.5vw;
}
#imageflex100{
	width: 34vw;
	height : 36vw;
}
.container{
	height : 36vw;
}
#flextext00{
	background-color: #403939;
	opacity: 80%;
	position: relative;
	text-align: center;
	top: -52%;
	left : 16%;
	font-size: 2rem;
	display: inline-block;
	color: #f7f7f7;
	font-family: 'Recursive', sans-serif;
}

#imageflex100 img{
	height: 100%;
	width: 100%; 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;

	border-radius: 10px;

}

#imageflex200{
	width: 27vw;
	height: 100%;
}

.city00 img{
	display: flex;
	justify-content: center;
	border-radius: 10px;
	opacity: 90%;
	width: 8vw;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
	
}

.city00 img:hover {
	opacity: 100%;
	transform: scale(1.05);
}

#city100 img{
	height : 13vw;	
}
#city200 img{
	height : 8vw;
}
#city300 img{
	height : 12vw;
}
#city400 img{
	height: 9vw;
	position: relative;
	top: -0.5vw;
}
#city500 img{
	height: 15vw;
	position: relative;
	top: -5.5vw;
	
}
#city600 img{
	height : 13vw;
	position: relative;
	top: -1.5vw;
	
}
#city700 img{
	height : 12vw;
	position: relative;
	top: -5vw;
	
}
#city800 img{
	height: 11vw;
	position: relative;
	top: -4vw;
	
}
#city900 img{
	height: 9vw;
	position: relative;
	top: -2vw;
}

.citytext00{
	text-decoration: none;
	position: relative;
	text-align: center;
	color: white;
	width: 8vw;
	top : -5vw;
	font-size: 17px;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
}

#citytext500{
	top : -12vw;

}
#citytext700{
	top : -14vw;
	
}
#citytext800{
	top : -10vw;
}
#citytext900{
	top : -5vw;
	
}

.city{
	color : black;
	text-decoration : none;
}
@media only screen and (max-width : 1440px){
	#flextext00{
		left: 1vw;
	}
	.citytext00{
		font-size: 18px;
	}
	#citytext600{
		top: -9vw;
	}
	#citytext900{
		top: -7vw;
	}
}
@media only screen and (max-width : 1340px){
	#deall{
		height: 52vw;
		top: -112px;
	}
	.imageflex00{
		left: 9%;
	}
	#imageflex100{
		width: 46vw;
		height: 49vw;
	}
	#imageflex200{
		width: 35vw;
		height : 135%;
	}
	.city00 img{
		width: 10vw;
	}
	.citytext00{
		width: 10vw;
	}

	#city100 img{
		height : 18vw;	
	}
	#city200 img{
		height : 11vw;
	}
	#city300 img{
		height : 15vw;
	}
	#city400 img{
		height: 10vw;
		position: relative;
		top: 4.5vw;
	}
	#city500 img{
		height: 19vw;
		position: relative;
		top: -2.5vw;
		
	}
	#city600 img{
		height : 16vw;
		position: relative;
		top: 1.5vw;
		
	}
	#city700 img{
		height : 19vw;
		position: relative;
		top: 1vw;
		
	}
	#city800 img{
		height: 17vw;
		position: relative;
		top: 3vw;
		
	}
	#city900 img{
		height: 15.5vw;
		position: relative;
		top: 4vw;
	}
	
}

@media only screen and (max-width : 1300px){
	.citytext00{
		font-size: 20px;
	}
}

@media only screen and (max-width : 1220px){
	.citytext00{
		font-size: 18px;
	}
}
@media only screen and (max-width : 1080px){
	.citytext00{
		font-size: 16px;
	}
}
@media only screen and (max-width : 1000px){
	#deall{
		height:150vw ;
		top: -100px;
	}

	.imageflex00{
		flex-direction: column;

		left: 9%;
	}
	#flextext00{
		margin-left: 14vw;
	}
	#imageflex100{
		width: 82vw;
		height: 75vw;
	}
	#imageflex200{
		width: 81vw;
		height : 135%;
		position: relative;
		top: 3vw;
	}
	.city00 img{
		width: 24vw;
	}

	.citytext00{
		width: 24vw;
		font-size: 30px;
		top: -10vw;
	}

	#city100 img{
		height : 30vw;	
	}
	#city200 img{
		height : 18vw;
	}
	#city300 img{
		height : 25vw;
	}
	#city400 img{
		height: 23vw;
		position: relative;
		top: 17.5vw;
	}
	#city500 img{
		height: 38vw;
		position: relative;
		top: 5.5vw;
		
	}
	#city600 img{
		height : 34vw;
		position: relative;
		top: 12.5vw;
		
	}
	#city700 img{
		height : 33vw;
		position: relative;
		top: 28vw;
		
	}
	#city800 img{
		height: 30vw;
		position: relative;
		top: 31vw;
		
	}
	#city900 img{
		height: 26.5vw;
		position: relative;
		top: 34vw;
	}
	
	#citytext400{
		top: 0vw;
	}
	#citytext700{
		top: 3vw;
	}
	#citytext800{
		top: 5vw;
	}
	#citytext900{
		top: 15vw;
	}
	
}

 
@media only screen and (max-width : 930px){
	.citytext00{
		font-size: 24px;
	}
	#deall{
		top: -76px;
	}
}
@media only screen and (max-width : 767px){

	#imageflex100{
		width: 82vw;
		height: 75vw;
	}
	#imageflex200{
		width: 81vw;
		height : 135%;
		position: relative;
		top: 3vw;
	}
	.city00 img{
		width: 21vw;
	}

	.citytext00{
		width: 21vw;
		font-size: 20px;
	}

	#city100 img{
		height : 30vw;	
	}
	#city200 img{
		height : 18vw;
	}
	#city300 img{
		height : 25vw;
	}
	#city400 img{
		height: 23vw;
		position: relative;
		top: 17.5vw;
	}
	#city500 img{
		height: 38vw;
		position: relative;
		top: 5.5vw;
		
	}
	#city600 img{
		height : 34vw;
		position: relative;
		top: 12.5vw;
		
	}
	#city700 img{
		height : 33vw;
		position: relative;
		top: 28vw;
		
	}
	#city800 img{
		height: 30vw;
		position: relative;
		top: 31vw;
		
	}
	#city900 img{
		height: 26.5vw;
		position: relative;
		top: 34vw;
	}

	
}
@media only screen and (max-width : 705px){

	#flextext00 {
	    margin-left: 5vw;
	}
}
@media only screen and (max-width : 702px){
	.citytext00{
		font-size: 18px;
		width: 21vw;
		top: -11vw;
	}

}
@media only screen and (max-width : 575px){
	#imageflex200{
		width: 90vw;
		position: relative;
		left: 1vw;
	}

	#flextext00 {
    left: -2%;
    font-size: 5vw;
}

}
@media only screen and (max-width : 575px){
	.citytext00{
		font-size: 16px;
	}
}

@media only screen and (max-width : 510px){
	#imageflex200{
		width: 94vw;
		position: relative;
		left: 1vw;
	}
	.citytext00{
		top: -14vw;
	}
	
	#deall{
		top: -60px;
	}

}
@media only screen and (max-width : 480px){
	#deall{
		height: 192vw;
	}

	.imageflex00{
		left: 3%;
	}
	#imageflex100{
		width: 86vw;
		height: 93vw;
	}
	#imageflex200{
		width: 92vw;
		height : 135%;
		
	}
	
}
@media only screen and (max-width : 465px){
	.citytext00{
		font-size: 15px;
	}
}
@media only screen and (max-width : 450px){
	#imageflex200{
		width: 94vw;
	}
	.citytext00{
		font-size: 14px;
		font-weight: bold;
	}
	

}
@media only screen and (max-width : 410px){
	#imageflex200{
		width: 96vw;
	}
	#imageflex100{
		width: 88vw;
		height: 101vw;
	}
	.citytext00{
		font-size: 13px;
		font-weight: bolder;
	}
	#deall{
		height: 203vw;
		top: -18px;
	
	}

}
@media only screen and (max-width : 380px){
	#imageflex200{
		width: 98vw;
	}
	.citytext00{
		font-size: 12px;
		font-weight: bolder;
	}
	#flextext00{
		left: -3%;
		font-size: 26px;
	}
}
@media only screen and (max-width : 350px){
	#deall{
		height: 221vw;
	}
	#imageflex200{
		width: 100vw;
	}
	#imageflex100{
		height: 120vw;
	}
	.citytext00{
		font-size: 11px;
		font-weight: bolder;
	}

}
@media only screen and (max-width : 320px){
	#deall{
		height: 235vw;
	}

	#imageflex200{
		width: 102vw;
	}
	#imageflex100{
		height: 130vw;
	}
	.citytext00{
		font-weight: bold;
	}

}

