#image_bhopal img{
	padding: 0%;
	width: 100%;
	height: 447px;
}

#title_bhopal{
	position: relative;
	top: -211px;
	margin-left: 16%;
	background-color: #f2f2f2;
	opacity: 70%;
	display: inline-block;
	font-weight: bold;
	font-size: 55px;
}
#bhopal{
	background-color: #f2f2f2;
}

#whole_bhopal{
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
	margin-left: 13%;
}
#content_bhopal{
	padding: 10px;
	width: 80%;
	margin-left: 11%;
	
}
#content_bhopal img{
	width: 99%;
	height: 304px;
	cursor: pointer;
	opacity : 90%;
}

#content_bhopal img:hover{
	opacity: 100%;
}
.hotel{
	display: flex;
	flex-direction: row;
	border : 2px solid black;
	
}
.title{
  text-decoration: underline;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
}
.box{
	font-size: 40px;
	display: block;
	border : 2px dotted black; 
	background-color: white;
	margin-left: 2%;
	width: 23%;
}  
.para{
	font-size: 15px;
	text-align: -webkit-left;
	word-break: break-all;
} 
.mycitycard{
	
	width: 62%;
	
	padding: 3px;
	border : 2px dotted black; 
	background-color: white;
	position: relative;
	top: 0%;
	
}
#content_bhopal .mytext{
	display: block;
}

#content_bhopal .myimage{
	padding: 3px;
}
#content_bhopal .content{
	padding: 3px;
}
#content_bhopal .head{
	text-decoration: underline;
	cursor: pointer;
	font-size: 20px;
}
#content_bhopal .locai{
	font-size: 15px;
}
#content_bhopal .mytext{
	font-size: 15px;

}
#content_bhopal .rating{
	padding: 3px;
}
#content_bhopal button{
	cursor: pointer;
	position: relative;
	top: -3%;
	left:84%;
	font-size: 12px;
}

@media only screen and (max-width: 1024px) {
	 .mycitycard{
	 	width: 72%;
	 }
	.box{
	  width:27%; 
	  display: block;
	}
	#content_bhopal{
		margin-left: 4%;
	}
	#image_bhopal img{
		height: 38vw;
	}

}
@media only screen and (max-width: 800px) {
	 .mycitycard{
	 	width: 123%;
	 	height: 70vw;
	 }
		#content_bhopal{
		margin-left: 4%;
	}
	#image_bhopal img{
		height: 38vw;
	}
	#whole_bhopal{
		flex-direction: column;
	}
	#title_bhopal{
		font-size: 244%;
		top: -180px;
	}
}

@media only screen and (max-width: 730px) {
	.mycitycard{
	 	width: 123%;
	 	height: 74vw;
	 }
	 .hotel{
	 	width: 120%;
	 }
	 #content_bhopal{
	 	margin-left: -5%;
	 }
	 #title_bhopal{
	 	top: -141px;
	 }
}
@media only screen and (max-width: 690px) {

	.mycitycard{
	 	height: 80vw;
	 }
}
@media only screen and (max-width: 635px) {

	.mycitycard{
	 	height: 83vw;
	 }
}
@media only screen and (max-width: 690px) {

	.mycitycard{
	 	height: 80vw;
	 }
}
@media only screen and (max-width: 637px) {

	.mycitycard{
	 	height: 74vw;
	 }
	
	 .title_bhopal{
	 	margin-left: 10%;
	 }
}
@media only screen and (max-width: 600px) {

	.mycitycard{
	 	height: 80vw;
	 }
}
@media only screen and (max-width: 560px) {

	.mycitycard{
	 	height: 84vw;
	 }
	 #title_bhopal{
	 	top: -112px;
	 }
}
@media only screen and (max-width: 533px) {

	.mycitycard{
	 	height: 88vw;
	 }
	 #image_bhopal img{
	 	height: 50vw;
	 }
	 #content_bhopal button{
	 	left: 82%;
	 }
}
@media only screen and (max-width: 502px) {

	.mycitycard{
	 	height: 92vw;
	 }
}
@media only screen and (max-width: 485px) {

	.mycitycard{
	 	height: 96vw;
	 }
	 #whole_bhopal{
	 	margin-left: 6%;
	 }
	 .hotel{
	 	width: 130%;
	 }
	 #image_bhopal img{
	 	height: 58vw;
	 }
}
@media only screen and (max-width: 461px) {

	.mycitycard{
	 	height: 98vw;
	 }
}
@media only screen and (max-width: 455px) {

	.mycitycard{
	 	height: 102vw;
	 }
}
@media only screen and (max-width: 435px) {

	.mycitycard{
	 	height: 106vw;
	 }
	 #image_bhopal img{
	 	height: 67vw;
	 }
}
@media only screen and (max-width: 420px) {

	.mycitycard{
	 	height: 110vw;
	 }
}
@media only screen and (max-width: 403px) {

	.mycitycard{
	 	height: 114vw;
	 }
	 #content_bhopal button{
	 	left: 79%;
	 }
}
@media only screen and (max-width: 390px) {

	.mycitycard{
	 	height: 118vw;
	 }
}
@media only screen and (max-width: 378px) {

	.mycitycard{
	 	height: 122vw;
	 }
	 #title_bhopal{
	 	margin-left: 7%;
	 }
	 #image_bhopal img{
	 	height: 75vw;
	 }
}
@media only screen and (max-width: 366px) {

	.mycitycard{
	 	height: 126vw;
	 }
	 #image_bhopal img{
	 	height: 85vw;
	 }
}