#top{
	background-color:  #f2f2f2; 
	padding: 2px;

}
.menu{
	opacity : 98%;
	position: relative;
	top : -261px;
}
.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 4px;
	position: relative;
	top: -13rem;
}

.navbar li{
	display: inline-block;
	font-size: 40px;
	color : #2F3542;
	font-weight: bold;
	
}


.navbar li a{
	display: inline-block;
	text-decoration: none;
	color : #2F3542;
	font-weight: bold;
}



#navbar{
	overflow: scroll;
	display: none;

}

#li1{
	flex-grow: 4;
	position: relative;
	
}
#li2{
	flex-grow: 1;
}
#li3{
	flex-grow: 1;
}
#li4{
	flex-grow: 1;
}
#li5{
	flex-grow: 1;
}

#wallpaper{
	width: 100%;
	height : 29rem;
}



.collection{
	background-color: white;
	display: flex;
	flex-direction: row;
	width: 48%;
	border : 0rem solid #0000;
	border-radius: 15px;
	justify-content: space-around;
	text-align: center;
	padding: 2px;
	position: relative;
	top: -8rem;
	left: 26%;

}
.mytext{
	text-align: center;
	font-size: 113%;
	color: #2F3542;
	font-weight: normal;
}

.mybox{
	cursor: pointer;
	padding: 10px;
}

.mybox img{
	width: 43%;
	height : 63%;
	border-radius: 100%;
	text-align: center;
}



.contain{

	padding: 2px;

}



@media only screen and (max-width: 1610px) {
  .collection {
    padding: 13px;
    width: 53%;
    left: 26%;

  }
  .mybox img{

       width: 70%; 
   }
  
}
@media only screen and (max-width: 1443px) {
  .navbar li {
    font-size: 25px;

  }
 
} 


@media only screen and (max-width: 1000px) {
  
  .mybox img{

       width: 70%; 
   }
  
}
@media only screen and (max-width: 915px) {
  .navbar li {
    font-size: 20px;

  }
 
} 
@media only screen and (max-width: 800px) {
  .collection{


        width: 60%;
        left: 18%;

}
  .mybox img{

       width: 70%; 
   }
}
@media only screen and (max-width: 745px) {
  .collection{

        left: 15%;
        width: 68%;

}
  .mybox img{

       width: 70%; 
   }
  
}
@media only screen and (max-width: 700px) {
  .navbar li {
    font-size: 15px;

  }
  
}
@media only screen and (max-width: 630px) {
  .collection{


        width: 68%;
        left: 15%;

}
  .mybox img{

       width: 73%; 
   }
  
}
@media only screen and (max-width: 610px) {
  .collection{


        width: 79%;
        left: 10%;

}
  .mybox img{

       width: 73%; 
   }
  
}
@media only screen and (max-width: 560px) {
  .contain{
    width: 79%;
  } 
  .collection{
    width: 106%;
  }

}
@media only screen and (max-width: 550px) {
  .navbar li a {
    
    display: none;

  }
  #navbar{
    display: block;
    visibility: visible;
    border: none;
    position: relative;
    top:-262px;
    margin-left: 4%;
    width: 20%;
  }
   #li1{
  
  left: 1%;
  top:218px;
  background-color: #f1f7f1;
  opacity: 72%;
  border-radius: 10px; 
  font-size:30px;
}
  #select{
    background-color: transparent;
    outline: none;
    font-size: 20px; 
    appearance:none;
  }
  .navbar li{
    font-size: 22px;
  }
  .collection{
    width: 106%;
    left: 10%;
    top: -34vw;
  }
}
@media only screen and (max-width: 460px) {
  .collection{
        width: 112%;
        left: 6%;
        top: -150px;

}
  .mybox img{

       width: 73%; 
   }
  .mytext{
  	font-size: 88%;
  }
  #li1{
    font-size: 25px;
  }
  
}

@media only screen and (max-width: 414px) {
	.collection{


        width: 116%;
        left: 5%;
        top: -150px;

  }
 
}
@media only screen and (max-width : 400px){
  #li1{
    font-size: 20px;
  }
}
@media only screen and (max-width : 355px){
  .collection{
    width: 96vw;
    left: 1%;
  }
}
@media only screen and (max-width : 343px){
  .collection{
    width: 99vw;
    left: 0%;
    top: -46vw;
  }
  .mytext{
    font-size:75%;
  }
}